## Regression

In [6]:
import numpy as np
import pandas as pd

In [7]:
np.random.seed(42)
n_samples = 1000

bedrooms = np.random.randint(1, 6, n_samples)
bathrooms = np.random.randint(1, 4, n_samples)
square_footage = np.random.randint(500, 4500, n_samples)
house_age = np.random.randint(0, 100, n_samples)

noise = np.random.normal(0, 10000, n_samples)
house_price = 50000 + (bedrooms * 5000) + (bathrooms * 10000) + \
    (square_footage * 50) - (house_age * 200) + noise

data = pd.DataFrame({
    'Bedrooms': bedrooms,
    'Bathrooms': bathrooms,
    'Square_Footage': square_footage,
    'House_Age': house_age,
    'House_Price': house_price
})

data

     Bedrooms  Bathrooms  Square_Footage  House_Age    House_Price
0           4          1            3716         77  244138.099678
1           5          1            4109         74  275803.789814
2           3          3            4219          8  313900.963794
3           5          2             802         89  106971.307714
4           5          1            3291         15  237965.500596
..        ...        ...             ...        ...            ...
995         2          3            1570         81  134430.542687
996         1          2            2510         97  192673.463117
997         1          2             898         74  117965.973694
998         4          2            2233         75  184994.718486
999         3          2            2082         48  172706.154302

[1000 rows x 5 columns]

In [15]:
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [18]:
data

     Bedrooms  Bathrooms  Square_Footage  House_Age    House_Price
0           4          1            3716         77  244138.099678
1           5          1            4109         74  275803.789814
2           3          3            4219          8  313900.963794
3           5          2             802         89  106971.307714
4           5          1            3291         15  237965.500596
..        ...        ...             ...        ...            ...
995         2          3            1570         81  134430.542687
996         1          2            2510         97  192673.463117
997         1          2             898         74  117965.973694
998         4          2            2233         75  184994.718486
999         3          2            2082         48  172706.154302

[1000 rows x 5 columns]

In [20]:
X,y = data.drop('House_Price',axis=1),data['House_Price']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
lr_model = LinearRegression()
ridge = Ridge(alpha=0.3)
decision_tree = DecisionTreeRegressor()

In [21]:
lr_model.fit(X_train,y_train)
ridge.fit(X_train,y_train)
decision_tree.fit(X_train,y_train)

DecisionTreeRegressor()

In [37]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [23]:
models = [lr_model,ridge,decision_tree]

In [33]:
def evaluate(model):
    y_pred = model.predict(X_test)
    print(type(model).__name__)
    print(mean_absolute_error(y_pred,y_test))
    print(mean_squared_error(y_pred,y_test))
    print(r2_score(y_pred,y_test))

In [34]:
for model in models:
    evaluate(model)

LinearRegression
7494.233207091591
84437912.42690782
0.9773285604418436
Ridge
7494.450101970317
84439324.32720622
0.9773274352025273
DecisionTreeRegressor
12688.712421923516
242196328.55489746
0.9341509710491429